body{
    padding:0;
    margin:0;
    background-color: #c5dae3;
}
header{
    height:15vh;
    width:100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bottom-head{
    width:100%;
    display: flex;
    justify-content: center;
    gap: 15%;
}
.full-container{
    height:82vh;
    width:100vw;
    background-image: url(/Images/2dpaperbg.png);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 50px; 
}
.player-container{
    height: 75px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20%;
}
.game-container{
    height: 450px;
    width: 450px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.x{
    background-image: url(/Images/X-tic.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.o{
    background-image: url(/Images/O-tac.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.border-br{
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}
.border-b{
    border-bottom: 2px solid black;
}
.border-r{
    border-right: 2px solid black;
}